<% include ../partials/header %>

<form action="/blogs" method="post">
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" placeholder="Author" name=post[author]>
  </div>
  <div class="form-group">
    <label for="posttitle">Post Title</label>
    <input type="text" class="form-control" id="posttitle" placeholder="Post Title" name="post[title]">
  </div>
  <div class="form-group">
    <label for="postintro">Post Intro</label>
    <input type="text" class="form-control" id="postintro" placeholder="Post Intro" name="post[intro]">
  </div>
  <div class="form-group">
    <label for="imageurl">Image URL</label>
    <input type="text" class="form-control" id="imageurl" placeholder="Image URL" name="post[image]">
  </div>
  <div class="form-group">
    <label for="type">Post Type</label>
    <select class="form-control" id="type" name="post[postType]">
      <option>Tech Review</option>
      <option>Opinion</option>
      <option>Tutorial</option>
      <option>Movie Review</option>
      <option>Programming</option>
    </select>
  </div>
  <div class="form-group">
    <label for="content">Post Content</label>
    <textarea class="form-control" id="content" class="editable" name="post[content]"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% include ../partials/footer %>
