<% include ../partials/header_noCont %>

<div class="col-md-4">
  <div class="card" style="padding-top:15px; padding-bottom:15px;">
    <div class="container">
      <h3>Post Types</h3>
      <a class="btn btn-danger" data-toggle="modal" data-target="#newPostType">
        <i class="fa fa-close"></i>
        <span class="hidden-md-down ">New Post Type</span>
      </a>
      <div id="scrollable-content">
        <hr>
        <ul>
          <% postType.forEach(function(postType){ %>
            <div class="card" style="padding-top:8px;">
              <li style="color:<%=postType.color%>;">
                <h5>
                  <i class="fa fa-<%=postType.icon%>"></i> <%=postType.name%>
                  <a class="pull-right"><i class="fa fa-edit"></i></a>
                  <a class="pull-right"><i class="fa fa-close"></i></a>
                </h5>
              </li>
            </div>
          <%});%>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="newPostType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">New Post Type</h4>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form action="/admin" method="POST" id="newPostType-form">
            <div class="form-group">
              <h6>Please Type in the name of the post</h6>
              <div class="form-group">
                <label for="postName">Name</label>
                <input type="text" class="form-control" name="postType[name]" style="text-align: center;" id="postName">
              </div>
              <div class="form-group">
                <label for="postIcon">Icon</label>
                <input type="text" class="form-control" name="postType[icon]" style="text-align: center;" id="postIcon">
              </div>
              <div class="form-group">
                <label for="postColor">Colour</label>
                <input type="text" class="form-control" name="postType[color]" style="text-align: center;" id="postColor">
              </div>  
            </div>
      </div>
      <!--Footer-->
      <div class="modal-footer">
          <a class="btn btn-danger btn-block" href="javascript:void()" onclick="document.getElementById('newPostType-form').submit();">
            <i class="fa fa-close"></i>
            <span class="hidden-md-down"> Delete Post</span>
          </a>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->

<% include ../partials/footer_noCont %>
