<% include ../partials/header %>

<h1 style="text-align:center;">Blog Not Found</h1>
<img src="/images/error/404.jpg" alt="" style="position: absolute; left: 50%; top: 50%; margin-left: -285px; margin-top: 50px;">

<% include ../partials/footer %>
