<!DOCTYPE html>
<html>
  <head>
    <!-- Make site responsive on mobile/tablet -->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Al-Tech</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <%# <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=tjfaip6eextjagyo02h58aiy4dk2aqvusm1bv012n6zje4yg"></script>%>
    <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
      selector:'textarea',
      menubar: false,  // removes the menubar
      height: 300,
      theme: 'modern',
      branding: false,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table contextmenu directionality emoticons template paste textcolor'
      ],
    });</script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="#" class="brand-logo">Al-Tech</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/services">Services</a></li>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="badges.html">About Me</a></li>
            <li><a href="collapsible.html">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <p>
      <div class="container">
