<% include ../partials/header %>
<% include ../partials/container_header %>

<!--Section: Team v.1-->
<section class="section team-section pb-5">

    <!--Section heading-->
    <h2 class="section-heading h1 pt-4">Our amazing team</h2>
    <!--Section description-->
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

    <!--Grid row-->
    <div class="row text-center">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="rounded-circle z-depth-1" alt="First sample avatar image">
            </div>
            <h4>Anna Deynah</h4>
            <h6 class="font-bold blue-text">Web Designer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Twitter-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Instagram-->
            <a class="icons-sm ins-ic"><i class="fa fa-instagram"> </i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle z-depth-1" alt="Second sample avatar image">
            </div>
            <h4>John Doe</h4>
            <h6 class="font-bold blue-text">Web Developer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Linkedin-->
            <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Dribbble-->
            <a class="icons-sm dribbble-ic"><i class="fa fa-dribbble"> </i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle z-depth-1" alt="Third sample avatar image">
            </div>
            <h4>Maria Kate</h4>
            <h6 class="font-bold blue-text">Photographer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--Pinterest-->
            <a class="icons-sm tw-ic"><i class="fa fa-twitter"> </i></a>
            <!--Email-->
           <a class="icons-sm email-ic"><i class="fa fa-envelope-o"> </i></a>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-r">

            <div class="avatar">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1" alt="Fourth sample avatar image">
            </div>
            <h4>Tom Williams</h4>
            <h6 class="font-bold blue-text">Front-end Developer</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

            <!--Google +-->
            <a class="icons-sm gplus-ic"><i class="fa fa-google-plus"> </i></a>
            <!--Facebook-->
            <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
            <!--GitHub-->
            <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Team v.1-->

<% include ../partials/container_footer %>
<% include ../partials/footer %>
