nav{
  background-color: #4f80bd;
}

.card-link{
  color: black;
}

.card-img-top {
    width: 100%;
}

.blogs-index-card{
  padding: 20px;
  margin-bottom: 20px;
}

.blogs-index-intro{
  text-align: justify; 
  text-justify: inter-word;
}