<% include ../partials/emails/header %>


<h1 style="font-family: arial;">Password Reset</h1>
<p style="font-family: arial;">Please click the link below to reset your password.</p>
<a style="background-color: #0275d8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;" 
    href="http://localhost:3000/users/reset/<%=user.resetPasswordToken%>" class="btn btn-default">Reset Password</a>
<p style="font-family: arial;">Many Thanks<br>
Al-Tech</p>

<% include ../partials/emails/footer %>