<% include ../partials/header %>
<% include ../partials/container_header %>

<form action="/users/forgottonpassword" method="POST" id="forgottonPassword-Form">
    <p class="h5 text-center mb-4">Reset Password</p>

    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input type="text" id="orangeForm-name" class="form-control" name="user[email]">
        <label for="orangeForm-name">Registered Email</label>
    </div>
    <div class="text-center">
        <button class="btn btn-deep-orange btn-block">Reset Password</button>
    </div>
</form>    
    

<% include ../partials/container_footer %>
<% include ../partials/footer %>