<% include ../partials/header %>
<% include ../partials/container_header %>

<form action="/users/reset/<%=token%>" method="POST" id="resetPasswordForm">
  <div class="form-group">
    <label for="">Enter New Password</label>
    <input type="password" name="user[password]">
  </div>
  <div class="form-group">
    <label for="">Confirm Password</label>
    <input type="password" name="user[passwordConfirm]">
  </div>
  <a class="btn btn-warning btn-block" href="javascript:void()" onclick="document.getElementById('resetPasswordForm').submit();">
    <i class="fa fa-exclamation-triangle"></i>
    <span class="hidden-md-down"> Change Password</span>
  </a>
</form>


<% include ../partials/container_footer %>
<% include ../partials/footer %>
