<% include ../partials/header %>

<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-xs-12">
                <div class="view">
                    <%if(user.avatar){%>
                        <div style="padding: 20px; margin-bottom: 40px; widht:350px; height: 350px;" id="userFileAvatar">
                          <script>
                          var c = new Croppie(document.getElementById('userFileAvatar'), {
                            viewport: {
                                width: px,
                                height: px,
                                type: 'square' //default 'square'
                            },
                            boundary: {
                                width: 350px,
                                height: 350px
                            },
                            customClass: '',
                            enableZoom: true|false, //default true // previously showZoom
                            showZoomer: true|false, //default true
                            mouseWheelZoom: true|false, //default true
                            update: function (cropper) { }
                          });
                          // bind an image to croppie
                          c.bind({
                            src: '<%=user.avatar%>',
                            points: [x1, y1, x2, y2]
                          });
                          // set the zoom programatically. Restricted to the min/max values of the slider
                          c.setZoom(1.5);
                          // get crop points from croppie
                          var data = c.get();
                          // get result from croppie
                          // returns Promise
                          var result = c.result('html|canvas').then(function (img) {
                            //img is html positioning & sizing the image correctly if resultType is 'html'
                            //img is base64 url of cropped image if resultType is 'canvas'
                          });
                          </script>
                        </div>
                    <%}else{%>
                        <span class="userImageHelper"><img id="userDefaultAvatar" class="img-fluid" src="/images/uploads/1498836285558atom-mark@1200x630.png"></span>
                        <script>
                          $('#userDefaultAvatar').croppie();
                        </script>
                    <%}%>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-primary btn-block" href="" data-toggle="modal" data-target="#changeAvatar">Upload New Avatar</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <h1><%=user.username%> - Profile Page</h1>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="changeAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Crop & Zoom Avatar</h4>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form action="/" method="POST" class="delete-form" id="delete-form">
            <div class="form-group">
              <img id="userAvatar" src="/images/uploads/picture-default.png" alt="">
              <script>
                $('#userAvatar').croppie();
              </script>
            </div>
      </div>
      <!--Footer-->
      <div class="modal-footer">
          <a class="btn btn-danger btn-block" href="javascript:void()" onclick="document.getElementById('delete-form').submit();">
            <i class="fa fa-close"></i>
            <span class="hidden-md-down"> Delete Post</span>
          </a>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->



<% include ../partials/footer %>
