<!DOCTYPE html>
<html>
  <head>
    <!-- Make site responsive on mobile/tablet -->
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Al-Tech</title>

    <!-- BootStrap Inits -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/stylesheets/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/main.css">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/Al-Tech-LOGO.png" />

    <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>

  </head>
  <body>

    
    <nav class="navbar navbar-toggleable-md navbar-dark bg-primary scrolling-navbar fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <strong>Al-Tech</strong>
      </a>
    </nav>
    <div class="container">

    


