<script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({
      selector:'textarea#editTextArea',
      menubar: false,  // removes the menubar
      height: 200,
      theme: 'modern',
      branding: false,
      plugins: [
        'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
        'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
        'save table contextmenu directionality emoticons template paste textcolor'
      ],
    });</script>

<!-- Modal -->
<div class="modal fade" id="editBio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Edit Your Bio</h4>
      </div>
      <!--Body-->
      <div class="modal-body">
        <form action="/users/profile/<%=user.id%>/bio?_method=PUT" method="post" id="editBioForm">
          <div class="form-group" style="margin-top:18px;">
            <textarea id="editTextArea" name=user[bio]><%-user.bio%></textarea>
          </div>
      </div>
      <!--Footer-->
      <div class="modal-footer">
          <a class="btn btn-success btn-block" href="javascript:void()" onclick="document.getElementById('editBioForm').submit();">
            <i class="fa fa-save"></i>
            <span class="hidden-md-down"> Save Bio</span>
          </a>
        </form>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->